.about {
  background-color: #0a2850;
  color: #fff;
  padding: 160px 80px 173px;
  display: flex;
  justify-content: space-between;
}

.about__title {
  max-width: 251px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.about__content {
  max-width: 660px;
}

.about_paragraph {
  font-family: "Noto Serif", "Time New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}
.about__circle {
  position: absolute;
}
