.menu {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/background_menu.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu__title {
  margin: 0 0 24px;
}

.menu__subtitle {
  max-width: 800px; /* Set your desired max-width */
  margin: 0 auto; /* Center the subheading */
  text-align: center; /* Center the text */
  margin-bottom: 100px;
}

.menu__cards {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
}
