.recipes {
  color: #fff;
  background-color: #0a2758;
  padding: 100px 80px 215px;
}

.recipes__title {
  margin: 0 0 24px;
  margin-bottom: 24px;
}

.recipes__subtitles {
  margin: 0 0 80px;
  margin-bottom: 80px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
}
