.recipes {
  color: #fff;
  background-color: #0a2758;
  padding: 100px 80px 215px;
}

.recipes__title {
  margin: 0 0 24px;
  margin-bottom: 24px;
}

.recipes__subtitles {
  max-width: 800px; /* Set your desired max-width */
  margin: 0 auto; /* Center the subheading */
  text-align: center; /* Center the text */
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 100px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
}
